body {
  background-color: $purple;
  position: relative;
}

.container {
  max-width: 1000px;
  width: 100%;
  min-height: 100%;
  display: table;
  margin: 0 auto;
}

footer {
  width: 100%;
  min-height: 80px;
  background: #fff;
  font-size: 0.9em;
  margin-top: 40px;

  .container {
    display: table;
    min-height: 80px;

    .copyright, .sponsor {
      display: table-cell;
      vertical-align: middle;
      width: 48%;
    }

    .sponsor {
      height: 100%;
      text-align: right;

      span {
        position: relative;
        top: -5px;
      }
      img {
        height: 35px;
        margin: 0 20px;
        position: relative;
        top: 5px;
      }
    }

  }
}

section.main {
  width: 100%;
  height: calc(100% - 80px);
  display: table;

  .content, .illustration {
    display: table-cell;
    min-height: 100%;
  }

  .content {
    padding: 0 25px;
    display: table-cell;
    width: 40%;
    vertical-align: top;
    color: #fff;

    .logo {
      width: 12em;
      margin: 50px 0;
    }

    h1 {
      font-size: 2.8em;
      line-height: 1;
      margin-bottom: 40px;
    }

    .description {
      margin-bottom: 50px;
      font-size: 1.1em;
      line-height: 1.4;
    }
  }

  .illustration {
    padding: 0 25px;
    width: 60%;
    min-height: 100%;
    margin-left: 150px;
    position: relative;

    .lamp {
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      position: absolute;
      max-height: calc(100% - 80px);
      max-width: 100%;
      top: -10px;
      -moz-animation: 3s ease 0s normal none infinite swing;
      -moz-transform-origin: center top;
      -webkit-animation:swing 3s infinite ease-in-out;
      -webkit-transform-origin:top;
    }

    .guy-on-desk {
      position: absolute;
      max-height: calc(100% - 80px);
      max-width: 100%;
      bottom: 0;
    }
  }
}

@-moz-keyframes swing{
    0%{-moz-transform:translateX(-50%) rotate(-10deg)}
    50%{-moz-transform:translateX(-50%) rotate(10deg)}
    100%{-moz-transform:translateX(-50%) rotate(-10deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:translateX(-50%) rotate(-10deg)}
    50%{-webkit-transform:translateX(-50%) rotate(10deg)}
    100%{-webkit-transform:translateX(-50%) rotate(-10deg)}
}
