@media(min-width: 1281px) {
  section.main .content .logo {
    margin-top: 40%; 
  }
}

@media(max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .container {
    width: 90%;
    display: block;
  }

  footer {
    width: 100%;
    background: #fff;
    padding: 25px 0;

    .container {
      width: 90%;
      .copyright, .sponsor {
        display: block;
        width: 100%;
        text-align: center;
      }

      .copyright {
        margin-bottom: 20px;

        img {
          height: 41px;
          margin: 10px 0;
        }

      }
    }
  }

  section.main {
    width: 100%;
    padding-bottom: 0;

    .content, .illustration {
      display: block;
    }

    .content {
      display: block;
      width: 100%;
      a {
        display: block;
        text-align: center;
      }
    }

    .illustration {
      display: none;
      width: 68%;
      img {
        float: right;
      }
    }
  }
}

@media(max-width: 480px) {
  body {
    .btn {
      margin-bottom: 40px;
    }
    
    section.main .content .logo {
      margin-top: 50px; 
    }

    footer span {
      display: block;
    }
  }
}
